* {
  box-sizing: border-box;
}

body {
  background-color: hsl(165, 60%, 40%);
  color: hsl(100, 100%, 100%);
}
.flex-container {
  /* all flex container properties with default values*/
  display: flex;
  flex-flow: row nowrap; /*flex-direction: and flex-wrap:*/
  justify-content: space-around; /*main axis*/
  align-items: stretch; /*cross axis*/
  align-content: space-between; /*align multiple rows*/
  /**************************************************/
  background-color: hsl(350, 60%, 40%);
  border-style: solid;
  border-color: black;
  margin: 0;
  padding: 0;
  border-width: 0;
  border-radius: 5px;
  height: 200px;
}
.flex-item {
  background-color: hsl(115, 60%, 40%);
  color: #f5f5f5;
  border-style: groove;
  border-color: #19535f;
  border-width: 5px;
  border-radius: 5px;
}

#flex-item-01 {
flex: 1 1 1px;/*grow shrink basis*/
align-self: center;
}
#flex-item-02 {
  align-self: flex-start
}
